/* .service_item{
  padding: 0.2rem;
  border-bottom: 3px solid #464cec86;
  border-right: 3px solid #464cec86;
  border-radius:  0.7rem;

}

.service_img{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--secondary-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  line-height: 50px;
}

.service_img img{
  width: 100%;
}
.service_item h5{
  font-size: 1.1rem;
  font-weight: 500;

}

.service_item p{
  font-size: 0.9rem;
  color: rgb(60, 59, 59);
} */


/* serviceCard.css */

.service_item {
  padding: 1rem;
  border: 2px solid #464cec86;
  border-radius: 0.7rem;
  background-color: white;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.service_img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--secondary-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  line-height: 50px;
}

.service_img img {
  width: 100%;
  border-radius: 50%;
}

.service_item h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.service_item p {
  font-size: 1rem;
  color: rgb(60, 59, 59);
  line-height: 1.5;
}
