/* RoomCard.css */

.room_card {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.room_card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.room_card .room_img {
  position: relative;
}

.room_card .room_img span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background: var(--primary-color);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px 0 0 0;
}

.room_card .card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room_card .room_rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.room_card .room_title {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.room_card .room_title a {
  text-decoration: none;
  color: var(--heading-color);
  transition: color 0.3s ease;
}

.room_card .room_title:hover a {
  color: blue;
}

.room_card .card_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.room_card .booking_btn {
  background: rgb(85, 85, 226) !important;
  cursor: pointer;
  padding: 0.2rem 0.5rem !important;
}

.room_card .Link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.room_card .Link:hover {
  color: #fff;
}

@media only screen and (max-width:576px){
  .room_title h1{
    font-size: 1rem;
  }
  .booking_btn{
    font-size: 0.8rem;
  }
  .booking_btn{
    padding: 0.2rem 0.5rem !important ;
  }
  .room_rating{
    font-size: .8rem;
    
  }
}