/* Search.css */

.Search_Bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(17, 12, 46, 0.15);
  width: max-content;
  margin-top: 50px;
  background-color: #ffffff;
}

.form_group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.form_group span {
  font-size: 1.2rem;
  color: #2341d7;
}

.form_group input {
  border: none;
  font-size: 0.9rem;
  color: var(--heading-color);
  font-weight: 400;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: #8abbec;
  box-shadow: 20px 10px 20px 30px rgba(17, 12, 46, 0.15);
}

.form_group input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2);
}

.form_group h5 {
  margin-bottom: 0;
}

.form_group-fast {
  border-right: 2px solid #ddd;
}

.search_icon {
  font-size: 1.6rem;
  padding: 0.6rem;
  background: var(--secondary-color);
  color: #556eea;
  border-radius: 10px 5px 10px 5px;
  cursor: pointer;
  margin-left: 0.5rem;
}

/* Responsive Styling */

@media only screen and (max-width: 992px) {
  .Search_Bar {
    width: 100%;
    border-radius: 2rem;
  }

  .Search_Bar form {
    flex-wrap: wrap;
  }

  .Search_Bar .form_group {
    width: 48%;
  }
}

@media only screen and (max-width: 576px) {
  .Search_Bar form .form_group {
    width: 100%;
  }

  .form_group input {
    font-size: 0.7rem;
  }

  .form_group span i {
    font-size: 1.1rem;
  }

  .form_group h5 {
    font-size: 1rem;
  }
}
